[submodule "qhull"]
	path = qhull
	url = git://github.com/qhull/qhull.git
[submodule "NifGen"]
	path = NifGen
	url = https://github.com/BlazesRus/NifLibGenerator
[submodule "DocSys"]
	path = DocSys
	url = https://github.com/BlazesRus/nifdocsys
